body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  padding-top: 50px;
}

header {
  padding: 20px 0;
}

header .row,
footer .row {
  display: flex;
  align-items: center;
}

header h1 {
  font-weight: 700;
  margin: 0;
}

header nav {
  display: flex;
  justify-content: flex-end;
}

header p {
  padding: 0 20px;
  margin: 0;
}

.jumbotron {
  display: flex;
  align-items: center;
  background-image: url('index_image.jpg');   
  background-size: cover;
  color: #000000;
  height: 560px;
}

.jumbotron h2 {
  font-size: 55px;
  font-weight: 700;
  margin: 0;
  color: #cc9900;
  text-shadow: 2px 2px 2px #000000;
}

.jumbotron h3 {
  text-align: justify;
  font-size: 4.5vmin;
  font-weight: 500;
  color: #000000;
  text-shadow: 1.5px 1.5px 1.5px #ffffff;
}

section .row img {
  margin: 0 0 30px;
  width: 500px;
  height: 350px;
}

section .row {
  text-align: center;
  font-size: 30px;
}

.col-md-6 {
  margin: 0 0 30px;
}

.btn.btn-primary {
  border-radius: 2px;
  border: 0px;
  color: #ffffff;
  text-shadow: none;
  background-color: #0000cc;
}

.btn.btn-primary:hover {
  color: #0000cc;
  background-color: #ffffff;
}

.btn-secondary {
  background-color: #E8DFE0;
  color: #ffffff;
  margin: 0 0 30px;
}

footer {
  font-size: 12px;
}

footer .col-sm-8 {
  display: flex;
  justify-content: flex-end;
}

footer ul {
  list-style: none;
}

footer li img {
  width: 32px;
  height: 32px;
}